<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>Naila's Blog - {{ title }}</title>
    {% else %}
        <title>Naila's Blog</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-light bg-steel fixed-top" style="background-color: #9cdaf7; box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);">
        
        <div class="container">
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('main.about') }}" style="color: #3c5e75; font-size: 130%">About</a>
              <a class="nav-item nav-link" href="{{ url_for('main.home') }}" style="color: #3c5e75; font-size: 130%">Home</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{ url_for('posts.new_post') }}" style="color: #3c5e75; font-size: 130%">New Post</a>
                <a class="nav-item nav-link" href="{{ url_for('users.account') }}" style="color: #3c5e75; font-size: 130%">Account</a>
                <a class="nav-item nav-link" href="{{ url_for('users.logout') }}" style="color: #3c5e75; font-size: 130%">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{{ url_for('users.login') }}" style="color: #3c5e75; font-size: 130%">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('users.register') }}" style="color: #3c5e75; font-size: 130%">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container"  >
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section ml-3" style="background-color: #9cdaf7; box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);">
            <h3 class="ml-3" style="color: #3c5e75">This is how it works</h3>
            <p class='text-muted ml-3'>You can post whatever and however you like it, but if you dont't know what to start with, here's some guide:
              <ul class="list-group">
                
                <li class="list-group-item list-group-item-light ml-1" style="background-color: #ebf7a7; box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);">Tell us the name and genre of the book you've read or reading. Tell us who your favourite character is and why. What characters are your least favorite? Why? What would you do if you were them? What concepts make most sense for you if you're reading a science book? How real is what you're reading? Who is the author and how did he live? How did he die? Tell us everything.</li>
                
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
